{% extends 'base.html' %}

{% block content %}

<!-- Politicas -->
<section class="policies" role="region" data-tab="{% if show_side=='income' %}income{% else %}expense{% endif %}">
  
  <!-- Politicas Header -->
  <div class="policies-header section-header">
    
    <h2 class="page-title">{{ _('Sector público instrumental') }}</h2>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
      <li class="{{ 'active' if show_side=='income' }}" role="presentation">
        <a href="#income" role="tab">{{ _('Ingresos') }}</a>
      </li>
      <li class="{{ 'active' if show_side!='income' }}" role="presentation">
        <a href="#expense" role="tab">{{ _('Gastos') }}</a>
      </li>
    </ul>
  </div>

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="container">

      <!-- Policies Chart -->
      {% include 'entities/policies-chart.html' %}

      {% include 'shared/data_controllers.html' %}

      {% include 'entities/totals.html' %}

      <!-- Policies Table -->
      <table id="myGrid" class="table-grid" width="100%"></table>

      {% include 'shared/social_sharing.html' %}
    </div>
  </div>
</section>

{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}

{% include 'institutions/show_script.html' %}

{% endblock %}