<script>
  $(function () {

    // Variable Definitions
    var uiState = null;
    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D':  '{{ _("a día de hoy") }}',
      'PR': '{{ _("proyecto") }}'
    };
    var includeFinancialChapters = true;
    var breakdowns = {
      'income':           {{ breakdowns['economic'].to_json( labels=descriptions['income'] )|safe }},
      'expense':          {{ breakdowns['economic'].to_json( labels=descriptions['expense'] )|safe }},
      'income_by_area':   {{ breakdowns['economic_by_area'].to_json( labels=descriptions['income'] )|safe }},
      'expense_by_area':  {{ breakdowns['economic_by_area'].to_json( labels=descriptions['expense'] )|safe }},
    };
    var gridData = {};
    var myGrid;
    var areas = {
      'income':        {{ income_areas|safe }},
      'expense':       {{ expense_areas|safe }},
    }
    var i18n          = { 'Presupuestado': 'Presupuestado' };
    var colorScale    = {{ color_scale|safe }};
    var labelsMinSize = {{ treemap_labels_min_size|safe }};


    // Helper functions to set the totals panel
    // TODO: This is duplicated in policies/show_script.html. Must combine! Ongoing part of #364
    function setEconomicTotals(breakdown, columnDef, classSelector) {
      var format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          totalNonFinancial = totalFinancial = 0;

      _.each(breakdown.sub, function(value, id) {
        var amount = columnDef.data(breakdown.sub[id]);
        if ( id[0]==='8' || id[0]==='9' ) {
          totalFinancial += amount
        } else {
          totalNonFinancial += amount
        }
      });

      if ( !includeFinancialChapters ) {
        $("#non-financial-total "+classSelector+"-amount").text(format(totalNonFinancial));
      }
      $("#main-total "+classSelector+"-amount").text(format(totalNonFinancial+totalFinancial));
    }

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        title: '{{ _("Presupuestado") }}',
        data: getBreakdownValue,
        render: getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

    //Update Tab
    function updateTab() {
      uiState = getUIState();

      // Update current tab (if is not widget)
      if (!$('body').hasClass('widget')) {
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
      }
      // Setup widget tab title
      else{
        $('.tab-title h3.'+uiState.view).show();
      }

      // Show/hide download links based on view
      $('.panel-downloads .downloads').addClass('hidden');
      $('#'+uiState.view +'-downloads').removeClass('hidden');
      
      // Redraw
      redraw();
    }

    function redraw() {
      // Update uiState
      uiState = getUIState();

      // Do work
      var columnDef                   = getColumnDefinition(uiState),
          executionColumnDef          = getExecutionColumnDefinition(uiState),
          addEconomicCategoriesPrefix = {{ 'true' if add_economic_categories_prefix else 'false' }},
          columnNames                 = {
            'expense': '{{ _("Artículo") }}',
            'income': '{{ _("Artículo") }}',
          };

      if (myGrid !== undefined) {
        myGrid.destroy();
      }
      myGrid = createBudgetGrid("#myGrid", gridData[uiState.view+'_by_area'], [
        {
          data: 'label',
          title: '{{ _("Organismo") }}',
          render: rowNameFormatter
        },
        columnDef
{% if show_actual %}
        ,executionColumnDef
{% endif %}
      ]);

      // Update totals texts
      $('#totals-year').text(uiState.year);
      var label = uiState.view == 'income' ? '{{ _("Ingresado") }}' : '{{ _("Gastado") }}';
      $('#totals-panel .total-executed > span').html( label );
      var executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);
      $("#main-total .main-label").html('{{ _("Total") }}' + executionLabelPostfix);

      // Show actual/budgeted split only when there's data available
      // (and the field format is not '% of total', gets confusing otherwise)
      var breakdown = breakdowns[uiState.view],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];
      if ( hasActualData && uiState.format!='percentage' ) {
        $("#totals-panel .total-executed").show();
      } else {
        $("#totals-panel .total-executed").hide();
      }

      // Fill in the amounts in the totals
      var setTotals = (uiState.view === 'functional' || uiState.view==='institutional') ?
                        setFunctionalTotals :
                        setEconomicTotals;
      setTotals(breakdown, columnDef, '.total-budgeted');
      if ( hasActualData )
        setTotals(breakdown, executionColumnDef, '.total-executed');

      // Setup & Update Budget Summary
      budgetSummary.update( breakdowns[uiState.view], areas[uiState.view], uiState.field, uiState.view, uiState.year );

      // Setup & Update Budget Treemap
      budgetTreemap.update( breakdowns[uiState.view], areas[uiState.view], uiState );

      // Show an alert if no data is available
      if ( myGrid.page.info().recordsDisplay != 0 ) {
        $('.no-data-alert').hide();
      } else {
        $('.no-data-alert').show();
      }
    }

    // Listen mouse over Summary item
    function onBudgetSummaryOver(e, d) {
      budgetTreemap.areaOver(d);
    }

    // Listen mouse out Summary item
    function onBudgetSummaryOut(e) {
      budgetTreemap.areaOut();
    }


    // Initialization
    _.each(breakdowns, function(b, name) { gridData[name] = breakdownToTable(b); });

    // Create Budget Summary
    var budgetSummary = new BudgetSummary('#budget-summary', colorScale);

    // Create Budget Treemap
    var budgetTreemap = new BudgetTreemap('#budget-treemap', stats, 2, colorScale, labelsMinSize, i18n, budgetStatuses);
{% if not entities %}
    // Limit treemap depth for top-level entities
    budgetTreemap.maxLevels(1);
{% endif %}

    // Listen BudgetTreemap & BudgetSummary events
    $('#budget-summary').bind('budget-summary-over', onBudgetSummaryOver);
    $('#budget-summary').bind('budget-summary-out',  onBudgetSummaryOut);

    // Set up controls (format selector & year slider)
    $('#select-format').change(redraw);
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ starting_year }});

    // Setup tabs navigation
    // This will also show the tab selected in the URL hash (if any). Do it
    // before creating the treemaps, so the active one has time to render fully.
    setRedrawOnTabsChange('#tabs', updateTab);
  });
</script>