<div class="budget-intro">
  <div class="container">
    <div class="row">

      <h2 class="page-title">{{ _('El recorrido de mis impuestos') }}</h2>

      <div class="col-sm-4">
        <div class="budget-step budget-step-1">
          <h3><span>1.</span> <b>{{ _('Los ingresos') }}</b></h3>
          <p class="desc">{{ _('Los ingresos de la Comunidad Autónoma de las Illes Balears (CAIB) proceden de diferentes fuentes de financiación, siendo la principal de ellas el <b>sistema de financiación autonómico</b>, que representa aproximadamente el 70% del total de ingresos no financieros, y que se nutre de algunas de las figuras tributarias más significativas: IRPF e IVA; además de los impuestos especiales sobre el tabaco, las bebidas alcohólicas, etc. Los <b>impuestos propios</b> (canon de saneamiento y el impuesto sobre estancias turísticas) <b>y los cedidos totalmente</b> (patrimonio, sucesiones y donaciones, transmisiones patrimoniales, etc.) representan aproximadamente el 25% de los ingresos no financieros, mientras que el 5% restante son otras transferencias, tanto del Estado como de la UE.')|safe }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="budget-step budget-step-2">
          <h3><span>2.</span> <b>{{ _('Cómo se reparte') }}</b></h3>
          <p class="desc">{{ _('El sistema de financiación autonómico se basa, entre otros, en los <b>principios de autonomía y corresponsabilidad fiscal</b>, que se encuentran recogidos en la LOFCA. Esta autonomía fiscal se concreta en la <b>cesión de una parte de la recaudación de algunas de las principales figuras tributarias</b>: 50% del IRPF y del IVA, y 58% de los impuestos especiales. No obstante, de esta recaudación solo una parte acaba finalmente en la CAIB, como resultado de los distintos fondos que operan en el actual modelo de financiación para redistribuir los recursos entre las distintas comunidades autonómas. En la última liquidación del modelo (2014) las Illes Balears pasan de ocupar la segunda posición en términos de capacidad fiscal por habitante (con un índice de 119,5), a verse relegadas a la novena posición en términos de recursos por habitante una vez ha actuado el modelo (con un índice de 99,4).')|safe }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="budget-step budget-step-3">
          <h3><span>3.</span> <b>{{ _('A qué se destinan') }}</b></h3>
          <p class="desc">{{ _('La CAIB tiene competencias en la <b>provisión de los principales servicios públicos</b> fundamentales (salud, educación, servicios sociales, empleo), al margen de otros relacionados principalmente con la política económica (turismo, comercio, industria, agricultura, etc.) y la ordenación del territorio y medio ambiente, y las infraestructuras. Por otra parte, una parte significativa de los ingresos se destinan a <b>financiar los consejos insulares</b>, como instituciones de gobierno de las distintas islas, que desarrollan básicamente competencias delegadas por la CAIB relacionadas con las carreteras, los servicios sociales y la cultura, <b>así como los ayuntamientos</b>, a través de los fondos de cooperación local.')|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

